body{
	background-color:#222831;
}
div{
}
div.out{
	background-color:#2d333d;
	margin-left: auto;
	margin-right: auto;
	width:min(10in, 90%); 
	background-color:#2d333d;
}
.blogPost {
  font-size: .2in;
  margin-top: 0;
  margin-bottom: 0;
}
.cardDate {
  font-size: .15in;
  padding-left: 0in;
  padding-right: 0in;
  line-height:0in;
}
.card {
	background-color:#222831;
	width:30%;
	padding:.075in;
	min-width: 2in;
	text-decoration: none;
	margin-top: .1in;
}
.cardrow{
	display: flex;
	margin-left:1.5%;
	margin-right:auto;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
  gap: 2%;
}
img.cardimg{
	width: 100%;
	height: auto;
}
h1{
	font-size: .55in;
	color:#77adb0;
	padding-left:.25in;
	padding-right:.25in;
	padding-top:.25in;
}
h2{
	color:#77adb0;
	padding-left:.25in;
  
}
h3{
	color:#77adb0;
	font-size:.25in
  margin-top:.05in
}
p{
	color:#efefef;
	padding-left:.35in;
	padding-right:.35in;
	line-height:.3in;
}
a{
	color:#77adb0;
}

